body {
  background-color: #111111;
  color: #BEBEBE;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #111111;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.navbar img {
  height: 75px;
  margin-top: 5px;
}

.navbar > h1 {
  color: #E3A72F;
  margin: 0;
  font-size: 20px;
  display: inline-block;
}

.title {
  text-align: center;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 30px;
}

.blog-card {
background-color: #202020;
color: #BEBEBE;
margin-bottom: 20px;
padding: 20px;
border-radius: 5px;
width: 50vw;
}

.blog-card h2 {
  font-size: 24px;
}

.blog-card p {
  font-size: 16px;
}

footer {
  background-color: #111111;
  color: #BEBEBE;
  padding-top: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 20px;
  font-size: 12px;
}

#footer-text {
  margin-top: 0;
  margin-bottom: 0;
}

/* .blog-container {
  
} */