body {
  background-color: #111111;
  color: #BEBEBE;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #111111;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  transform-origin: top;
  transition: transform 0.3s ease-in-out; /* Added transition property */
}

.navbar img {
  height: 75px;
  margin-top: 5px;
  transition: transform 0.3s ease-in-out; /* Added transition property */
}

.navbar > h1 {
  color: #E3A72F;
  margin: 0;
  font-size: 20px;
  display: inline-block;
  transition: transform 0.3s ease-in-out; /* Added transition property */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transform: scaleY(0.8); /* Adjust the scale value to your preference */
}

.sticky img {
  transform: scale(0.8); /* Adjust the scale value to your preference */
}

.sticky h1 {
  transform: scale(0.8); /* Adjust the scale value to your preference */
}

.title {
  text-align: center;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.blog-card {
background-color: #202020;
color: #BEBEBE;
margin-bottom: 20px;
padding: 20px;
border-radius: 5px;
width: 50vw;
padding-bottom: 30px;
overflow-x: hidden;
}

.blog-card h2 {
  font-size: 24px;
  margin-top: -8px;
}

.blog-card p {
  font-size: 14px;
}

footer {
  background-color: #111111;
  color: #BEBEBE;
  padding-top: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 20px;
  font-size: 12px;
}

a {
  text-decoration: none;
}

a > h1 {
  text-decoration: none;
}

#footer-text {
  margin-top: 0;
  margin-bottom: 0;
}

.blog-description h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.blog-description h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.blog-description p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 12px;
}

.blog-description ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 12px;
}

.blog-description li {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 6px;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .navbar > h1 {
    font-size: 16px;
  }
  
  .blog-container {
    margin-top: 20px;
  }
  
  .blog-card {
    width: 80vw;
  }
  
  .blog-card h2 {
    font-size: 20px;
  }
  
  .blog-card p {
    font-size: 12px;
  }
  
  footer {
    font-size: 10px;
  }
  
  .blog-description h2 {
    font-size: 20px;
  }
  
  .blog-description h3 {
    font-size: 16px;
  }
  
  .blog-description p {
    font-size: 14px;
  }
  
  .blog-description li {
    font-size: 14px;
  }

  .sticky img {
    transform: scale(0.9); /* Adjust the scale value to your preference */
    margin-left: 90px
  }

  .sticky h1 {
    transform: scale(0); /* Adjust the scale value to your preference */
  }
}

pre {
  background-color: #111111;
  display: inline-block;
  padding-left: 10px;
  padding-right: 20px;
}