body {
  background-color: #111111;
  color: #BEBEBE;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #111111;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.navbar img {
  height: 75px;
  margin-left: 10px;
  margin-top: 5px;
}

.navbar > h1 {
  color: #E3A72F;
  margin: 0;
  margin-left: 10px;
  font-size: 20px;
  display: inline-block;
}

.title {
  text-align: center;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #202020;
  color: #BEBEBE;
  width: 50vw;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
}

footer {
  background-color: #111111;
  color: #BEBEBE;
  padding: 10px;
  text-align: center;
}

/* .blog-container {
  
} */